<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>分类管理</title>
        <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
        <link rel="stylesheet" href="../../static/css/nav.css" th:href="@{/css/nav.css}">
        <link rel="stylesheet" href="../../static/css/type.css" th:href="@{/css/type.css}">
        <script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
        <script src="../../static/js/jquery-1.12.4.min.js" th:src="@{/js/jquery-1.12.4.min.js}"></script>
        <script src="../../static/js/nav.js" th:src="@{/js/nav.js}"></script>
        <script src="../../static/js/type.js" th:src="@{/js/type.js}"></script>
    </head>
    <body>
        <div th:replace="~{fragments/header :: header}"></div>


        <!--正文部分-->
        <div class="layoutBody">
            <div class="layui-container">


            </div>
        </div>


        <div th:replace="~{fragments/footer :: footer}"></div>
    </body>
</html>