<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.TypeDao">

    <!--查询所有分类-->
    <select id="findAll" resultType="Type">
        select * from type
    </select>

    <!--查询总数-->
    <select id="findCounts" resultType="java.lang.Integer">
        select count(tid) from type
    </select>

    <!--查询某一个分类的数量-->
    <select id="findNameCount" resultType="java.lang.Integer">
        select
          count(b.bid)
        from
          type t,
          blog b
        where
          t.name = #{name}
        AND
          t.tid = b.tid
    </select>

    <!--查询首页5条分类的数量-->
    <select id="findOnePage" resultType="Type">
         select * from type limit 0, 5
    </select>

</mapper>